header {
    display:flex;
    flex-direction: column;
    flex:1;
    flex-wrap:none;
    background-color: rgb(225, 250, 255);
    // background-color: #013b3b;   
.container{
    width:100%;
   
}

}